<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
	<strong>Список поездов:</strong>
	<% if @route.trains.present? %>
		<table>
			<%= render @route.trains %>
		</table>
	<% else %>
		поездов на маршруте нет
	<% end %>
</p>

<p>
	<strong>Список станций:</strong>
	<% if @route.railway_stations.present? %>
		<table>
			<%= render @route.railway_stations.ordered.uniq, route: @route %>
		</table>
	<% else %>
		станций в маршруте нет
	<% end %>
</p>

<%= link_to 'редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'назад', admin_routes_path %>
