<tr>
  <td><%= railway_station.title %></td>
  <td>
    <%= form_tag update_position_railway_station_path(railway_station), method: :patch do %>
      <%= number_field_tag :position, railway_station.position_in(route) %>
      <%= hidden_field_tag :route_id, route.id %>
      <%= submit_tag 'set' %>
    <% end %>
  </td>
  <td><%= link_to 'Показать', railway_station %></td>
  <td><%= link_to 'Редактировать', edit_railway_station_path(railway_station) %></td>
  <td><%= link_to 'Удалить', railway_station, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>