<%= form_for(@vagon) do |f| %>
  <% if @vagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vagon.errors.count, "error") %> prohibited this vagon from being saved:</h2>

      <ul>
      <% @vagon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "поезд" %><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label "тип" %><br>
    <select name="vagon[type_id]" id="vagon_type_id">
      <% Vagon::TYPE.each do |id| %>
        <option value="<%= id %>"><%= Vagon.type(id) %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label "верхних мест" %><br>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label "нижних мест" %><br>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
