<tr>
  <td><%= vagon.train.number %></td>
  <td><%= vagon.type %></td>
  <td><%= vagon.top_seats %></td>
  <td><%= vagon.bottom_seats %></td>
  <td><%= vagon.side_top_seats %></td>
  <td><%= vagon.side_bottom_seats %></td>
  <td><%= vagon.sitting_seats %></td>
  <td><%= vagon.number %></td>

  <td><%= link_to 'Показать', sti_vagon_path(vagon.type, vagon) %></td>
  <td><%= link_to 'Редактировать', sti_vagon_path(vagon.type, vagon, :edit) %></td>
  <td><%= link_to 'Удалить', sti_vagon_path(vagon.type, vagon), method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
</tr>