<p>
  <strong>Поезд:</strong>
  <%= @vagon.train.number %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @vagon.type %>
</p>

<p>
  <strong>Верхних мест:</strong>
  <%= @vagon.top_seats %>
</p>

<p>
  <strong>Нижних мест:</strong>
  <%= @vagon.bottom_seats %>
</p>

<p>
  <strong>Боковых верхних мест:</strong>
  <%= @vagon.side_top_seats %>
</p>

<p>
  <strong>Боковых нижних мест:</strong>
  <%= @vagon.side_bottom_seats %>
</p>

<p>
  <strong>Сидячих мест:</strong>
  <%= @vagon.sitting_seats %>
</p>




<%= link_to 'Edit', edit_admin_vagon_path(@vagon) %>
