<!DOCTYPE html>
<html>
<head>
  <title>Admin - Tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="border:3px solid red">

<p id="notice" class="notice"><%= notice %></p>
<p id="alert" class="alert"><%= alert %></p>

<%= render 'shared/devise' %>

<%= yield %>


<br><hr>
(c)2016 Учебный проект в <a href="http://thinknetica.com">онлайн-школе Thinknetica</a>

</body>
</html>
